{% extends 'main/main.html' %}

{% block title %}Contact Us{% endblock %}

{% block description %}
Reach out for support and information on Painful Bladder Syndrome.
We're here to help answer your questions and provide resources.
{% endblock %}

{% block keywords %}IPBF, Contact, Support, {% endblock %}

{% block content %}
<div class="container">
  <h2>Contact</h2>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="border: 1px solid rgb(27, 44, 73);">
        <div class="card-body" style="text-align: left">
          <h5 class="card-title">Contact Us</h5>
          <hr>

          <p class="card-text">
            <b>Contact:</b><br>
            <a href="mailto:info@painful-bladder.org">info@painful-bladder.org</a><br><br>

            <b>Postal Address:</b><br>
            Mahlerlaan 4<br>
            1411 HW Naarden<br>
            The Netherlands
          </p>
        </div>
      </div>

      <br>

      <div class="card" style="border: 1px solid rgb(27, 44, 73);">
        <div class="card-body" style="text-align: left">
          <h5 class="card-title">Web Master</h5>
          <hr>

          <p class="card-text">
            <b>Niek Meijlink:</b><br>
            <ul>
              <li><a href="https://www.linkedin.com/in/niek-meijlink/">Linkedin</a></li>
              <li><a href="https://www.upwork.com/freelancers/~0133d38a9f0b294661">Upwork</a></li>
              <li><a href="mailto:niek+ipbf@meijlink5.nl">Email</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}