{% extends 'main/main.html' %}

{% block title %}Disclaimer & Copyright{% endblock %}

{% block description %}
Please read this for the Disclaimer & Copyright if you want to use our information.
{% endblock %}

{% block keywords %}Disclaimer, Copyright, IPBF{% endblock %}

{% block content %}
<div class="container">
  <h2>Disclaimer & Copyright</h2>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" style="text-align: left;">
          <h5 class="card-title">Copyright</h5>
          <hr>

          <p class="card-text" style="text-align: justify">
            This website www.painful-bladder.org is the property of the International Painful Bladder Foundation. The information both on this website and distributed by the IPBF in other ways is the property and/or intellectual property of the IPBF and/or specifically named authors or sources. The copyright of this material belongs to the IPBF unless otherwise specifically stated. Copyright © 2006-2007 International Painful Bladder Foundation. All rights reserved.
            <br><br>
            Permission is granted to copy, translate or quote from this website, www.painful-bladder.org, for non-commercial purposes only, provided that full credit is given to the IPBF and author (if applicable), that the meaning intended within its context is preserved and that prior permission is requested in writing. The user may not modify the material obtained from the IPBF without prior written permission from the IPBF and/or from the author concerned if applicable. The IPBF takes no responsibility for the accuracy of translations of its material made by third parties.
            
            <br><br>
            Texts may be downloaded from the website for personal use. If it is wished to use texts or other material, whether in paper or electronic media or other form, for any other purpose (non-commercial only), prior written permission from the IPBF is required (<a href="mailto:info@painful-bladder.org">info@painful-bladder.org</a>).
            
            <br><br>
            The IPBF encourages non-profit patient support groups to make use of the material and information provided on this website, provided that they request prior written permission and state the source. The IPBF reserves the right to restrict use if it deems this to be necessary or desirable.
            
            <br><br>
            The user should acknowledge the Website and IPBF as the source of the materials. Acknowledgement of the source should include the name of the International Painful Bladder Foundation, the name of the author if applicable, the website url (www.painful-bladder.org) and the contact email address (<a href="mailto:info@painful-bladder.org">info@painful-bladder.org</a>).
            
            <br><br>
            While the IPBF takes steps to ensure that the material on its website is free from viruses or other contamination, downloading of materials from the website is solely at the risk of the user.
            
            <br><br>
            Privacy: e-Newsletter mailing list
            
            <br><br>
            The emailing list for the free IPBF e-Newsletter will not be made available to third parties and will not be used for commercial purposes. People wishing to receive the e-Newsletter should send a request to <a href="mailto:info@painful-bladder.org">info@painful-bladder.org</a>. Those wishing to be removed from the emailing list for the e-Newsletter should do likewise.
            
            <br><br>
            While the IPBF does its utmost to ensure that those on the e-Newsletter emailing list receive the e-Newsletter, it is in no way responsible for out-of-date email addresses or spam filters on the recipient’s computer or recipient’s server. The e-Newsletter is also placed on the IPBF website to facilitate access.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" style="text-align: left;">
          <h5 class="card-title">Disclaimer</h5>
          <hr>

          <p class="card-text" style="text-align: justify">
            The International Painful Bladder Foundation (IPBF) does not engage in the practice of medicine. It is not a medical authority nor does it claim to have medical knowledge. Information provided in IPBF emails, newsletters and website is not medical advice. The IPBF recommends patients to consult their own physician before undergoing any course of treatment or medication.
            
            <br><br>
            The IPBF endeavours to ensure that all information it provides is correct and accurate, but it does not accept any liability for errors or inaccuracies.
            
            <br><br>
            The IPBF reserves the right to add, remove or revise material on its website in any way or at any time at its own discretion.
            
            <br><br>
            The IPBF does not necessarily endorse any commercial products mentioned on its website or in any other material it publishes in any form.
            
            <br><br>
            The IPBF is not responsible for the content of any website which can be accessed from the IPBF website. While the IPBF endeavours to facilitate access to further useful information on a variety of related topics, a link to these external websites does not necessarily constitute endorsement.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}