{% extends 'main/main.html' %}

{% block title %}Donations{% endblock %}

{% block description %}
If you support this website you can donate here through paypall or your bank app!
{% endblock %}

{% block keywords %}IPBF, Donations, Support{% endblock %}

{% block content %}
<div class="container">
  <h2>Donations</h2>
  <hr>
  <p style="text-align: justify;">
    The International Painful Bladder Foundation is a non-profit voluntary organisation and is entirely dependent on sponsoring and donations to be able to carry out its valuable work around the world. Your donation will be used to raise awareness about IC/PBS and associated disorders in the widest sense of the word, distributing up-to-date information to patients and professionals, helping new support groups off the ground, running a website, publishing a newsletter and many other activities, including much hard work behind the scenes stimulating research, coordinating people with a special interest in this field and putting them in touch with each other so as to ensure better global collaboration. This will benefit patients worldwide.
    <br><br>
    Your donation or sponsorship will be greatly appreciated.
  </p>

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="border: 1px solid rgb(27, 44, 73);">
        <div class="card-body" style="text-align: left">
          <h5 class="card-title">Donate Here </h5>
          <hr>

          <!--<form action="https://www.paypal.com/donate" method="post" target="_top">#TODO: add paypall account
            <input type="hidden" name="business" value="donations@kcparkfriends.org">
            <input type="hidden" name="no_recurring" value="0">
            <input type="hidden" name="item_name" value="Friends of the Park">
            <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">
            <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
          </form>

          <hr>-->

          <p class="card-text">
            Bank: ING <br>
            Account name: Stichting International Painful Bladder Foundation <br>
            Account address: Mahlerlaan 4, 1411 HW Naarden, The Netherlands <br>
            Bank Account number: 4670458 <br><br>

            IBAN code: NL17 INGB 0004 6704 58 <br>
            BIC/Swift: INGBNL2A<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}